body {
    color: white !important;
}

#root {
    background-color: #18191a;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #242526;
    padding-top: .5rem;
    color: #08b392;
    display: flex;
    justify-content: center;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #242526;
    color: #08b392;
    display: flex;
    justify-content: center;
    padding-top: .5rem;
}